{% extends 'base.html' %}

{% block navbar %}
{% include "navbar.html" with active_tab='About' %}
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-lg-4">
        <img class="img-circle" src="static/figures/trips_example.png" alt="Generic placeholder image" width="140" height="140">
        <h2>Trips</h2>
        <p>An Example from <strong>Django Girls</strong>. A Simple site to display posts with geography information. It also contain a simple administration to manage every post.</p>
        <p>Original Git Book: <a href="https://djangogirlstaipei.gitbooks.io/django-girls-taipei-tutorial/content/index.html"><strong>Django Girls 學習指南</strong></a></p>
        <p><a class="btn btn-default" href="/trips/" role="button">Live Demo &raquo;</a></p>
    </div><!-- /.col-lg-4 -->
    <div class="col-lg-4">
        <img class="img-circle" src="static/figures/forms_example.png" alt="Generic placeholder image" width="140" height="140">
        <h2>Forms</h2>
        <p>This example implement <strong>GET</strong> and <strong>POST</strong> which common used on web. When user have to send some information to server, <strong>GET</strong> and <strong>POST</strong> can help user to do this.</p>
        <p>This example reference from <a href="http://djangobook.py3k.cn/2.0/chapter07/"><strong>The Django Book</strong></a> and <a href="https://docs.djangoproject.com/en/1.9/topics/forms/"><strong>official docs</strong></a>.</p>
        <p><a class="btn btn-default" href="/forms/" role="button">Live Demo &raquo;</a></p>
    </div><!-- /.col-lg-4 -->
    <div class="col-lg-4">
        <img class="img-circle" src="/static/figures/Simple_CMS_example.png" alt="Generic placeholder image" width="140" height="140">
        <h2>Simple CMS</h2>
        <p>This example aim to implement a simple <strong>CMS</strong>. You can <strong>add</strong>, <strong>edit</strong>, <strong>view</strong>,and <strong>delete</strong> article in this example.</p>
        <p>Every article use <strong>Markdown</strong> to present the content. About <strong>Markdown</strong>, you can reference: <a href="https://github.com/adam-p/markdown-here/wiki/Markdown-Cheatsheet"><strong>https://github.com/adam-p/markdown-here/wiki/Markdown-Cheatsheet</strong></a></p>
        <p><a class="btn btn-default" href="/Simple_CMS/" role="button">Live Demo &raquo;</a></p>
    </div><!-- /.col-lg-4 -->
</div><!-- /.row -->

{% endblock %}
