<div class="navbar-wrapper">
  <div class="container">
    <nav class="navbar navbar-inverse navbar-fixed-top nav-justified">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="/">Jacob's Django Examples</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li {% if active_tab == "About" %} class="active" {% endif %}><a href="/">About</a></li>
            <li {% if active_tab == "Trips" %} class="active" {% endif %}><a href="/trips/">Trips</a></li>
            <li {% if active_tab == "Forms" %} class="active" {% endif %}><a href="/forms/">Forms</a></li>
          </ul>
        </div>
      </div>
    </nav>
  </div>
</div>
