{% extends 'base.html' %}

{% block navbar %}
{% include "navbar.html" with active_tab='Trips' %}
{% endblock %}

{% block title %} - Trips{% endblock %}

{% block content %}

<link href="//fonts.googleapis.com/css?family=Lemon" rel="stylesheet" type="text/css">
<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
<link href="//djangogirlstaipei.github.io/assets/css/style.css" rel="stylesheet" type="text/css">
<script src="//maps.googleapis.com/maps/api/js?v=3.exp&libraries=places&sensor=false"></script>
<script src="//djangogirlstaipei.github.io/assets/js/map.js"></script>

<div class="header">
    <h1 class="site-title text-center">
        <a href="/">A Django Girl’s Adventure</a>
    </h1>
</div>

<div class="container post post-detail">
    <div class="post-heading">
        <h1 class="title">{{ post.title }}</h1>
        <div class="date">{{ post.created_at|date:'Y / m / d' }}</div>
    </div>
    <div class="location">
        <i class="fa fa-map-marker"></i>
        <span id="location-content">{{ post.location }}</span>
    </div>
    <div id="map-canvas" class="map"></div>
    <div class="post-content">
        {{ post.content }}
    </div>
    <hr class="fancy-line">
    <img class="photo" src="{{ post.photo }}" alt="Cover photo for {{ post.title }}">
</div>

<div class="row">
    <a href="/trips/" class="btn btn-lg btn-primary" role="button">Back to Post List</a>
</div>


{% endblock %}
